/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

/* Navbar Customization */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1050;
  width: 100%;
  background-color: #f8f9fa; /* Light background color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  border-radius: 50%;
}

.nav-link {
  font-weight: bold;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  background-color: transparent;
}

/* Sidebar Styles */
.sidebar {
  width: 250px;
  background-color: #ffffff;
  color: black;
  position: fixed;
  top: 0px; /* Account for navbar height */
  left: 0;
  height: calc(100vh - 60px); /* Full height minus navbar */
  padding-top: 20px;
  z-index: 1000;
  transition: left 0.3s ease-in-out;
}

.sidebar a {
  display: block;
  padding: 2px 2px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.sidebar a:hover {
  background-color: #495057;
  border-radius: 10px;
}

/* Main Content */
.main-content {
  margin-left: 250px; /* Sidebar width */
  background-color: #f8f9fa;
  min-height: 100vh;
  padding-top: 60px; /* Account for navbar height */
  transition: margin-left 0.3s ease-in-out;
}

/* Make the sidebar and main content responsive */
@media (max-width: 768px) {
  .sidebar {
      position: absolute;
      top: 60px;
      left: -250px; /* Hide sidebar initially off-screen */
      width: 100%;
  }

  .sidebar.open {
      left: 0; /* Show sidebar when it's toggled */
  }

  .main-content {
      margin-left: 0;
  }

  /* Show burger icon */
  .burger-icon {
      display: block;
      font-size: 2em;
      cursor: pointer;
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 1100;
  }
}

/* Burger Icon */
.burger-icon {
  display: none;
}

/* Hover effect for sidebar buttons */
.sidebar-button:hover {
  background-color: #27367f !important;
  color: white !important;
}

/* Active button style */
.sidebar-button.active {
  background-color: #27367f !important;
  color: white !important;
}

.notifications-dropdown {
  position: relative;
  z-index: 10;
  margin-top: 5px;
  width: 100%; /* Full width below the navbar */
}

.notification-item {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.notification-item:last-child {
  border-bottom: none;
}

.notification-item.bg-light {
  font-weight: bold;
  background-color: #f9f9f9;
}
